In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Shiva Chandra\Desktop\ML\Project Sem 2 Year 3\DATA-FINAL.csv')

In [3]:
df.shape

(65535, 22)

In [4]:
df.head()

,Termid,Regd No,Course,Grade,CA_100,MTT_50,ETT_100,ETP_100,Course_Att,MHRDName,...,CA_3,CA_4,Height,Weight,ScholarType,Direction,Gender,Medium,CourseType,ProgramType
0,318192,1101776,KVY1,O,87.0,39.0,82.0,89.0,88.0,Bachelor of Science (Honours) (Agriculture),...,1.0,0.0,181,65,Hostler,North,Female,Hindi,Theory,UG
1,318192,1101776,KVY147,A+,87.0,47.0,65.0,85.0,82.0,Bachelor of Science (Honours) (Agriculture),...,0.0,1.0,181,65,Hostler,North,Female,Hindi,Theory,UG
2,318192,1101776,KVY148,B+,84.0,29.0,63.0,77.0,76.0,Bachelor of Science (Honours) (Agriculture),...,3.0,5.0,181,65,Hostler,North,Female,Hindi,Theory,UG
3,318192,1101776,KVY2,A+,NaN,NaN,NaN,82.0,74.0,Bachelor of Science (Honours) (Agriculture),...,NaN,NaN,181,65,Hostler,North,Female,Hindi,Practical,UG
4,318192,1101776,KVY3,A+,87.0,34.0,68.0,89.0,76.0,Bachelor of Science (Honours) (Agriculture),...,2.0,17.0,181,65,Hostler,North,Female,Hindi,Theory,UG

In [5]:
df.columns.unique()

Index(['Termid', 'Regd No', 'Course', 'Grade', 'CA_100', 'MTT_50', 'ETT_100',
       'ETP_100', 'Course_Att', 'MHRDName', 'CA_1', 'CA_2', 'CA_3', 'CA_4',
       'Height', 'Weight', 'ScholarType', 'Direction', 'Gender', 'Medium',
       'CourseType', 'ProgramType'],
      dtype='object')

In [7]:
df['MHRDName'].nunique()

135

In [8]:
df['MHRDName'].unique()

array(['Bachelor of Science (Honours) (Agriculture)',
       'Master of Computer Applications (2 Year programme)',
       'Bachelor of Technology in Mechanical Engineering',
       'Integrated Bachelor of Technology - Master of Technology (Civil Engineering)',
       'Bachelor of Technology (Electrical and Electronics Engineering)',
       'Bachelor of Technology (Civil Engineering)',
       'Bachelor of Technology (Computer Science and Engineering)',
       'Bachelor of Technology in Computer Science and Engineering (Cyber Security)',
       'Bachelor of Technology (Chemical Engineering)',
       'Bachelor of Technology (Food Technology)',
       'Bachelor of Technology (Electrical Engineering)',
       'Bachelor of Technology in Computer Science and Engineering (Data Science)',
       'Bachelor of Architecture',
       'Bachelor of Technology (Information Technology)',
       'Integrated Bachelor of Technology - Master of Technology (Mechanical Engineering)',
       'Bachelor of Computer Applications',
       'Bachelor of Technology (Automobile Engineering)',
       'Diploma in Mechanical Engineering',
       'Bachelor of Technology in Computer Science and Engineering (Cloud Computing)',
       'Bachelor of Technology in Computer Science and Engineering (Machine Learning)',
       'Bachelor of Technology in Computer Science and Engineering (Big Data)',
       'Bachelor of Technology (Electronics and Communication Engineering)',
       'Bachelor of Technology (Mechanical Engineering)',
       'Bachelor of Technology in Computer Science and Engineering (Android Application Development)',
       'Bachelor of Science (Honours) (Mathematics)',
       'Integrated Bachelor of Science - Master of Science (Biotechnology)',
       'Diploma in Civil Engineering',
       'Master of Science (Food Science and Technology)',
       'Bachelor of Technology in Electronics and Communication Engineering (Internet of Things)',
       'Master of Science (Biotechnology)',
       'Bachelor of Science (Microbiology)',
       'Bachelor of Technology in Mechanical Engineering (Robotics and Mechatronics)',
       'Bachelor of Technology in Computer Science and Engineering',
       'Bachelor of Science (Forensic Science)',
       'Master of Science (Chemistry)',
       'Bachelor of Science (Information Technology)',
       'Bachelor of Science (Honours) (Agriculture) ',
       'Bachelor of Science (Biotechnology)',
       'Diploma in Computer Science and Engineering',
       'Bachelor of Science (Computer Science)',
       'Integrated Bachelor of Technology - Master of Technology (Biotechnology)',
       'Integrated Bachelor of Technology - Master of Technology (Computer Science and Engineering)',
       'Bachelor of Technology (Aerospace Engineering)',
       'Bachelor of Science (Honours) (Food Technology)',
       'Bachelor of Science (Medical)',
       'Bachelor of Technology (Biomedical Engineering)',
       'Master of Technology (Manufacturing Engineering)',
       'Master of Technology (Automobile Engineering)',
       'Integrated Bachelor of Science - Master of Science (Microbiology)',
       'Bachelor of Technology (Biotechnology)',
       'Integrated Bachelor of Technology (Computer Science and Engineering) - Master of Business Administration',
       'Diploma in Computer Science Engineering',
       'Diploma in Information Technology',
       'Master of Science (Nutrition and Dietetics)',
       'Integrated Bachelor of Technology - Master of Technology (Electronics and Communication Engineering)',
       'Bachelor of Science (Nutrition and Dietetics)',
       'Bachelor of Science (Honours) (Zoology)',
       'Bachelor of Science (Honours) (Chemistry )',
       'Master of Computer Applications',
       'Bachelor of Science (Honours) (Microbiology)',
       'Bachelor of Science (Honours) (Botany)',
       'Bachelor of Technology (Petroleum Engineering)',
       'Bachelor of Technology in Computer Science and Engineering (Full Stack Web Developer)',
       'Diploma in Automobile Engineering',
       'Master of Science Ag. (Plant Pathology)',
       'Master of Technology (Thermal Engineering)',
       'Master of Science Ag. (Genetics and Plant Breeding)',
       'Dual Degree Bachelor of Technology - Master of Technology (Computer Science and Engineering)',
       'Diploma in Electronics and Communication Engineering',
       'Master of Science (Microbiology)', 'Diploma in Agriculture',
       'Diploma in Architectural Assistantship',
       'Bachelor of Science (Non-Medical)',
       'Bachelor of Technology in Electrical Engineering',
       'Bachelor of Technology in Civil Engineering',
       'Integrated Bachelor of Science - Master of Science (Zoology)',
       'Master of Science (Botany)', 'Master of Science (Mathematics)',
       'Master of Science (Computer Science)',
       'Master of Science (Zoology)',
       'Master of Technology (Computer Science and Engineering)',
       'Master of Science Ag. (Agronomy)',
       'Master of Planning (Urban Planning)',
       'Bachelor of Technology - Master of Technology in Biotechnology (Integrated)',
       'Master of Science Ag. Horticulture (Fruit Science)',
       'Master of Technology (Electronics and Communication Engineering)',
       'Integrated Bachelor of Science - Master of Science (Mathematics)',
       'Bachelor of Science (Honours) (Physics)',
       'Bachelor of Technology (Electronics and Computer Engineering)',
       'Master of Technology (Construction Management)',
       'Master of Sciences (Forensic Science)',
       'Diploma in Electrical Engineering', 'Master of Science (Physics)',
       'Integrated Bachelor of Science - Master of Science (Botany)',
       'Bachelor of Technology in Biotechnology',
       'Integrated Bachelor of Technology (Mechanical Engineering) - Master of Business Administration',
       'Master of Technology (Transportation Engineering)',
       'Bachelor of Planning (Urban Planning)',
       'Bachelor of Technology in Electronics and Communication Engineering',
       'Bachelor of Science in Agriculture (Honours)',
       'Bachelor of Technology in Electrical and Electronics Engineering',
       'Bachelor of Technology in Information Technology',
       'Master of Technology (Structural Engineering)',
       'Bachelor of Technology in Electronics and Communication Engineering (Embedded System)',
       'Master of Science Ag. Horticulture (Vegetable Science)',
       'Bachelor of Science - Master of Science in Mathematics (Integrated)',
       'Master of Technology (Food Technology)',
       'Bachelor of Technology in Automobile Engineering',
       'Bachelor of Planning (Urban)',
       'Integrated Bachelor of Science - Master of Science (Physics)',
       'Bachelor of Technology in Biotechnology - Master of Business Administration (Integrated)',
       'Integrated Bachelor of Science - Master of Science (Chemistry)',
       'Bachelor of Science (Honours) (Mathematics) ',
       'Master of Science (Information Technology)',
       'Master of Science in Agriculture (Genetics and Plant Breeding)',
       'Master of Science Ag. (Soil Science and Agriculture Chemistry)',
       'Master of Technology (VLSI Design)',
       'Master of Science (Honours) (Biochemistry)',
       'Master of Science Ag. (Entomology)',
       'Master of Science in Agriculture Horticulture (Fruit Science)',
       'Bachelor of Science - Master of Science in Biotechnology (Integrated)',
       'Master of Technology (Electrical Engineering)',
       'Master of Technology (Power Systems)',
       'Bachelor of Science (Honours) (Chemistry)',
       'Master of Science in Agriculture (Soil Science and Agriculture Chemistry)',
       'Integrated Bachelor of Technology (Biotechnology) - Master of Business Administration',
       'Dual Degree Bachelor of Technology - Master of Technology (Mechanical Engineering)',
       'Integrated Bachelor of Technology (Electrical and Electronics Engineering) - Master of Business Administration',
       'Master of Technology (Geotechnical Engineering)',
       'Dual Degree Bachelor of Technology (Computer Science and Engineering) - Master of Business Administration',
       'Bachelor of Computer Application-Master of Computer Applications(Integrated)',
       'Master of Planning (Urban)',
       'Dual Degree Bachelor of Technology (Civil Engineering) - Master of Business Administration',
       'Master of Technology (Civil Engineering)',
       'Bachelor of Technology - Master of Technology in Civil Engineering (Integrated)'],
      dtype=object)

In [9]:
df['ProgramType'].nunique()

2

In [10]:
df['CourseType'].nunique()

2

In [11]:
df.isnull().sum()

Termid             0
Regd No            0
Course             0
Grade              0
CA_100          2566
MTT_50         27121
ETT_100        25836
ETP_100        35891
Course_Att      6081
MHRDName           0
CA_1            2566
CA_2            2566
CA_3            2566
CA_4            2566
Height             0
Weight             0
ScholarType        0
Direction          0
Gender             0
Medium             0
CourseType         0
ProgramType        0
dtype: int64

In [12]:
df.describe()

,Termid,Regd No,CA_100,MTT_50,ETT_100,ETP_100,Course_Att,CA_1,CA_2,CA_3,CA_4,Height,Weight
count,65535.000000,6.553500e+04,62969.000000,38414.000000,39699.000000,29644.000000,59454.000000,62969.000000,62969.000000,62969.000000,62969.000000,65535.000000,65535.000000
mean,288099.682918,8.450856e+06,63.772317,26.110637,52.052470,67.181892,81.046692,31.961918,15.926504,7.937985,7.945910,167.077134,70.074922
std,84391.200813,4.155810e+06,23.809873,11.811316,22.972317,22.770638,17.960987,23.197636,16.421255,10.651955,10.654228,10.138942,17.785183
min,118192.000000,1.101776e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,40.000000
25%,218192.000000,4.875776e+06,54.000000,19.000000,40.000000,61.000000,76.000000,12.000000,3.000000,1.000000,1.000000,158.000000,55.000000
50%,318192.000000,8.474776e+06,69.000000,28.000000,56.000000,73.000000,85.000000,29.000000,10.000000,4.000000,4.000000,167.000000,70.000000
75%,318192.000000,1.203578e+07,81.000000,35.000000,68.000000,82.000000,93.000000,49.000000,24.000000,11.000000,11.000000,176.000000,85.000000
max,718192.000000,1.543278e+07,100.000000,50.000000,100.000000,100.000000,100.000000,100.000000,94.000000,89.000000,87.000000,184.000000,100.000000